<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <script src="/bootstrap/jquery.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
</head>
<body>

{% include './partials/confirmation.html' %}
{% include './partials/error-modal.html' %}
{% include './partials/success-modal.html' %}

<div class="container-fluid mt-2 py-2 pb-2">
    <h4 class="display-6">Database Settings</h4>
    <form method="POST" action="/restore-db-file" id="sqlForm" enctype="multipart/form-data">
        <label>Choose A file to Restore </label>
        <input id="sql" name="sql" class="form-control" type="file" required>
    </form>


    <div class=" mt-2 bg-light p-2 pb-3">
        <p class="mb-0">Database Actions</p>
        <div class="d-flex gap-3">
            <a id="restoreDb" class="btn btn-primary" href="/restore-db">Restore Database</a>
            <a class="btn btn-success" href="/backup-db">Backup Database</a>
        </div>
    </div>
</div>
<script>

    const sqlFile = document.getElementById('sql');
    const sqlForm = document.getElementById('sqlForm');

    const restoreBtn = document.getElementById('restoreDb');

    sqlFile.addEventListener('change', (event) => {

        const confirmationMessage = "Are you sure you want to restore the database? This action will overwrite existing data.";
        confirmWithClose(confirmationMessage, () => {
            sqlForm.submit();
        }, () => {
            sqlForm.reset();
        })

    })


    restoreBtn.addEventListener('click', (event) => {

        event.preventDefault();

        confirm("This action will revert the database to the system's backup data. Are you sure you want to proceed? Please perform a backup first.", () => {
            window.location = event.target.href;
        });

    })

</script>

</body>
</html>

