<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/bootstrap/bootstrap.css" rel="stylesheet"/>
    <script src="/bootstrap/jquery.js"></script>
    <script src="/bootstrap/bootstrap.bundle.js"></script>
    <title>Verify Account</title>

    <style>
        input {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container-fluid">

    <div
            class=" text-center vh-100 d-flex justify-content-center align-items-center">
        <form class="w-100" method="POST" action="/verify">
            <h4 class="display-4">Complete Sign up</h4>
            <p>A code was sent to your email</p>
            <div class="row mb-2 mx-auto" style="max-width: 600px">
                <div class="col-2">
                    <input required type="text" maxlength="1" class="form-control" name="code[]">
                </div>
                <div class="col-2">
                    <input required type="text" maxlength="1" class="form-control" name="code[]">
                </div>
                <div class="col-2">
                    <input required type="text" maxlength="1" class="form-control" name="code[]">
                </div>
                <div class="col-2">
                    <input required type="text" maxlength="1" class="form-control" name="code[]">
                </div>
                <div class="col-2">
                    <input required type="text" maxlength="1" class="form-control" name="code[]">
                </div>
                <div class="col-2">
                    <input required type="text" maxlength="1" class="form-control" name="code[]">
                </div>
            </div>
            <button class="btn btn-primary">verify</button>
            <p class="mt-2 text-danger">{{verify}}</p>

            <a href="/logout" class="link-secondary small"> Logout</a>
        </form>
    </div>
</div>

</body>
</html>
