{% extends "./admin/index.html" %}


{% block body %}

<style>
    .notification {
        position: absolute;
        top: -10px;
        right: 0;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="d-flex gap-2">
        <button
                class="btn-success btn shadow mb-2"
                data-bs-target="#fundModal"
                data-bs-toggle="modal"
                type="button"
        >
            New Fund
        </button>

        <button
                class="btn-success btn shadow mb-2 d-none"
                data-bs-target="#billModal"
                data-bs-toggle="modal"
                type="button"
        >
            New Bill
        </button>

        <form id="fundForm">

            {% set viewActive = archived ? '' : 'selected'%}
            {% set viewArchived = archived ? 'selected' : ''%}

            <select name="status" class="form-control" id="fundStatus">
                <option value="active" {{viewActive}}>Active</option>
                <option value="archived" {{viewArchived}}>Archived</option>
            </select>
        </form>
    </div>


    <div class="row">

        {% for fund in funds %}
        <div class="col-lg-5 col-md-8 col-12 mb-4">
            <div class="card position-relative">
                {% if fund.totalPendingExpenses > 0%}
                <a href="/admin/fund/{{fund.id}}#pendingExpenses">

                    <span class="notification badge badge-center rounded-pill bg-danger"
                          data-bs-toggle="tooltip" data-bs-offset="0,4"
                          data-bs-placement="top" data-bs-html="true"
                          data-bs-original-title="Pending Expenses"
                    >{{ fund.totalPendingExpenses}}</span>
                </a>

                {% endif %}

                <div class="card-body ">
                    <div class="mb-0 card-title d-flex align-items-start justify-content-between">
                        <div class="flex-shrink-0">
                            <h4>{{fund.title}}</h4>
                        </div>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                <a class="dropdown-item" href="/admin/fund/{{fund.id}}">View Details</a>
                                {% if fund.isArchived %}
                                <form class="activeFundForm" method="POST" action="/admin/fund/unarchived/{{fund.id}}">
                                    <input type="text" name="id" class="d-none" value="{{fund.id}}">
                                    <button class="dropdown-item" type="submit">Active</button>
                                </form>
                                {% else %}
                                <form class="archiveFundForm" method="POST" action="/admin/fund/archive/{{fund.id}}">
                                    <button class="dropdown-item" type="submit">Archived</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Total Fund</span>
                            <h3 class="card-title text-nowrap mb-1">{{fund.computeTotal|format_currency('PHP')}}</h3>
                        </div>
                        <div class="col-8" id="profileReportChart" style="min-height: 80px;">
                            <div id="" width="104" height="80"
                                 class="apexcharts-canvas apexchartsiuk5bzuq apexcharts-theme-light mx-auto"
                                 style="width: 104px; height: 80px;">
                                <div id="chart{{fund.id}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--/ Total Revenue -->
    <div class="row d-none">
        <!-- Order Statistics -->
        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">Bills</h5>
                        {% set billStatus = archiveBill == 'archive' ? 'Archive' : 'Active' %}
                        <small class="text-muted">{{billStatus}} Bills</small>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                            <form>
                                <input class="d-none" name="bill" value="active">
                                <button class="dropdown-item" type="submit">Active Bills</button>
                            </form>
                            <form>
                                <input class="d-none" name="bill" value="archive">
                                <button class="dropdown-item" type="submit">Archived Bills</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="p-0 mt-3">
                        {% for bill in bills %}
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-primary"><i
                                    class="bx bx-mobile-alt"></i></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">{{bill.expense.title}}</h6>
                                    <small class="text-muted">{{bill.expense.fund.title}}</small>
                                </div>
                                <div class="user-progress d-flex align-items-center">
                                    <small class="fw-medium">{{bill.expense.amount|format_currency('PHP')}}</small>
                                    <div class="dropdown">
                                        <button class="btn p-0" type="button" id="transactionID"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                            <button onclick="editBill({{bill.id}})" class="dropdown-item" type="submit">
                                                Edit
                                            </button>
                                            {% if bill.isArchived %}
                                            <form class="activeBillForm" method="POST" action="/admin/unarchive-bill/{{bill.id}}">
                                                <button class="dropdown-item" type="submit">Active</button>
                                            </form>
                                            {% else %}
                                            <form class="archiveBillForm" method="POST" action="/admin/archive-bill/{{bill.id}}">
                                                <button class="dropdown-item" type="submit">Archive</button>
                                            </form>
                                            {% endif %}

                                            <form class="fireBillForm" method="POST" action="/admin/bill/generate/{{bill.id}}">
                                                <button class="dropdown-item" type="submit">Fire Bill</button>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--/ Order Statistics -->


        <!-- Transactions -->
        <div class="col-md-6 col-lg-4 order-2 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Pending Bills</h5>
                </div>
                <div class="card-body">
                    <ul class="p-0 m-0">
                        {% for bill in bills %}
                        {% for expense in bill.expenses %}
                        {% if expense.status|lower == 'pending' %}
                        <li class="d-flex mb-4 pb-1">

                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <small class="text-muted d-block mb-1">{{expense.title}}</small>
                                    <h6 class="mb-0">{{expense.fund.title}}</h6>
                                </div>
                                <div class="user-progress d-flex align-items-center gap-1">
                                    <h6 class="mb-0">{{expense.amount|format_currency('PHP')}}</h6>
                                    <div class="dropdown">
                                        <button class="btn p-0" type="button" id="transactionID"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                            <form class="approveBillForm" method="POST" action="/admin/approve-bill/{{expense.id}}">
                                                <button class="dropdown-item" type="submit">Approve</button>
                                            </form>
                                            <form class="rejectBillForm" method="POST" action="/admin/reject-bill/{{expense.id}}">
                                                <button class="dropdown-item" type="submit">Reject</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--/ Transactions -->
    </div>

</div>

{% include './admin/partials/fund-modal.html' %}
{% include './admin/partials/bill-modal.html' %}
{% include './admin/partials/edit-bill-modal.html' %}

{% endblock %}


{% block javascript %}
<script>

    const fundStatus = document.getElementById('fundStatus');
    const fundForm = document.getElementById('fundForm');
    const editModalForm =  new bootstrap.Modal(document.getElementById('editBillModal'), {
        keyboard: false
    });

    async function editBill(id) {

        let result = await fetch('/admin/bill/' + id);

        let data = await result.json()

        if (!result.ok) {
            alert('Something went wrong');
        } else {
            data = data.data;

            document.getElementById('billTitle').value = data.title;
            document.getElementById('billAmount').value = data.amount;
            document.getElementById('billPurpose').value = data.purpose;
            document.getElementById('billId').value = data.id;

           editModalForm.show();
        }
    }

    fundStatus.addEventListener('change', (event) => {
        fundForm.submit();
    })

    async function loadChart(fundId, chartName) {


        let year = 2023;

        const result = await fetch(`/monthly-collection/${fundId}/${year}`);

        const data = (await result.json()).data;

        let dataKeys = Object.keys(data);
        let dataValues = Object.values(data);

        var options = {
                chart: {
                    type: 'line',
                    height: 350,
                    width: 104, // Set SVG width
                    height: 80,
                    sparkline: {
                        enabled: true // Enable sparkline to remove axis and grid lines
                    }
                },
                stroke: {
                    curve: 'smooth', // Set curve type
                    colors: ['#ffb723'] // Set line color
                },
                series: [{
                    name: 'Fund',
                    data: dataValues,
                }],
                xaxis: {
                    categories: dataKeys
                },

                tooltip: {
                    enabled: true,
                    shared:
                        false, // Set to false to have independent tooltips
                    x:
                        {
                            show: true, // Show x-axis tooltip
                        }
                    ,
                    y: {
                        show: true, // Show y-axis tooltip
                    }
                    ,
                    fixed: {
                        enabled: true,
                        position:
                            'topRight',
                        offsetX:
                            0,
                        offsetY:
                            80,
                    }
                }
            }
        ;

        // Initialize the chart in the hidden div
        var hiddenChart = new ApexCharts(document.querySelector(`#${chartName}`), options);

        // Render the chart in the hidden div
        hiddenChart.render();
    }

        {% for fund in funds %}
        loadChart({{fund.id}},'chart{{fund.id}}');
        {% endfor %}

    onSubmitConfirmations({
        classId: 'activeBillForm',
        title: 'Confirmation',
        text: `Are you sure you want to make this bill active?`,
    })

    onSubmitConfirmations({
        classId: 'archiveBillForm',
        title: 'Confirmation',
        text: `Are you sure you want to archive this bill?`,
    })

    onSubmitConfirmations({
        classId: 'fireBillForm',
        title: 'Confirmation',
        text: `Are you sure you want to fire this bill?`,
    })

    onSubmitConfirmations({
        classId: 'approveBillForm',
        title: 'Confirmation',
        text: `Are you sure you want to approve this bill?`,
    })


    onSubmitConfirmations({
        classId: 'rejectBillForm',
        title: 'Confirmation',
        text: `Are you sure you want to reject this bill?`,
    })

    onSubmitConfirmations({
        classId: 'archiveFundForm',
        title: 'Confirmation',
        text: `Are you sure you want to archive this fund?`,
    })

    onSubmitConfirmations({
        classId: 'activeFundForm',
        title: 'Confirmation',
        text: `Are you sure you want to unarchived this fund?`,
    })

    formConfirmation({
        formId: 'addFundForm',
        modalId: 'fundModal',
        title: 'Confirmation',
        text: 'Are you sure you want to save this fund?',
        icon: 'question',
        cancelledText: 'Action Cancelled'
    });

    formConfirmation({
        formId: 'addBillForm',
        modalId: 'billModal',
        title: 'Confirmation',
        text: 'Are you sure you want to add a new bill?',
        icon: 'question',
        cancelledText: 'Action Cancelled'
    });

    formConfirmation({
        formId: 'editBillForm',
        modalId: editModalForm,
        title: 'Confirmation',
        text: 'Are you sure you save changes to this bill?',
        icon: 'question',
        cancelledText: 'Action Cancelled',
        byReference: true
    });


</script>
{% endblock %}