{% extends "./admin/index.html" %}

{% block body %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">Issues</h5>

        <div class="mb-2 p-2">

            <div class="row">
                <div class="mb-2 col-sm">
                    <div id="statusGroupBtn" class="btn-group flex-wrap" role="group"
                         aria-label="Basic radio toggle button group">

                        {% set defaultChecked = status is null ? 'checked' : '' %}
                        {% set allChecked = status == 'ALL' ? 'checked' : '' %}
                        {% set pendingChecked = status == 'PENDING' ? 'checked' : '' %}
                        {% set approvedChecked = status == 'RESOLVED' ? 'checked' : '' %}
                        {% set rejectedChecked = status == 'REJECTED' ? 'checked' : '' %}

                        <input type="radio" class="btn-check" name="btnradio" id="ALL" {{allChecked}}
                               {{defaultChecked}}/>
                        <label class="btn btn-outline-primary" for="ALL">All</label>

                        <input type="radio" class="btn-check" name="btnradio" id="PENDING" {{pendingChecked}}/>
                        <label class="btn btn-outline-primary" for="PENDING">Pending</label>

                        <input type="radio" class="btn-check" name="btnradio" id="RESOLVED" {{approvedChecked}}/>
                        <label class="btn btn-outline-primary" for="RESOLVED">Resolved</label>

                        <input type="radio" class="btn-check" name="btnradio" id="REJECTED" {{rejectedChecked}}/>
                        <label class="btn btn-outline-primary" for="REJECTED">Rejected</label>
                    </div>
                </div>

                <form id="viewForm">
                    <input class="d-none" id="viewStatusInput" name="status" type="text" value="ALL">
                </form>

            </div>


        </div>

        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                {% for issue in issues %}
                {% set status = issue.status|lower %}


                {% set statusLabel = 'bg-label-warning' %}
                {% set statusLabel = status == 'pending' ? 'bg-label-warning' : statusLabel %}
                {% set statusLabel = status == 'rejected' ? 'bg-label-danger' : statusLabel %}
                {% set statusLabel = status == 'resolved' ? 'bg-label-success' : statusLabel %}


                <tr>
                    <td>{{issue.id}}</td>
                    <td>
                        <p>Issue for Transaction #{{issue.transaction.id}}</p>
                    </td>
                    <td>{{issue.getCreatedAt()| date('M d, Y')}}</td>
                    <td><span class="badge {{statusLabel}} me-1">{{status}}</span></td>
                    <td>
                            <a class="btn btn-primary" style="flex: 1 1 0px" href="/admin/issue/{{issue.id}}">Manage</a>
                    </td>
                </tr>
                {% endfor %}

                {% if issues is empty %}
                        <tr style="height: 200px">
                            <td colspan="5">Empty Result</td>
                        </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>



{% endblock %}

{% block javascript %}

<script>

    const statusGroupBtn = document.getElementById('statusGroupBtn').querySelectorAll('input');
    const viewStatusInput = document.getElementById('viewStatusInput');

    const viewForm = document.getElementById('viewForm');

    statusGroupBtn.forEach(button => {
        button.addEventListener('change', event => {
            viewStatusInput.value = button.id;
            viewForm.submit();
        })
    });

</script>
{% endblock %}