{% extends "./admin/index.html" %}


{% block body %}

{% include './partials/confirmation.html' %}


<div class="container-xxl flex-grow-1 container-p-y">
    {% set bg = issue.status|lower == 'resolved' ? "bg-success" : "bg-danger" %}
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">

                    <span class="badge badge-pill {{bg}}">{{issue.status|lower}}</span>

                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0">
                        <div>
                            <h4>Issue #{{issue.id}}</h4>
                            <div class="mb-2">
                                <span class="me-1">Date Issues:</span>
                                <span class="fw-medium">{{issue.getCreatedAt()|date("M Y") }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-0">


                <div class="card-body">
<!--                    <h4> <a href="/admin/transaction/{{issue.target}}">{{issue.title}} </a> </h4>-->

<!--                    <small>Issue Content</small>-->
<!--                    <textarea class="form-control" readonly>{{issue.content}}</textarea>-->
<!--                    {% set bg = issue.status|lower == 'resolved' ? "bg-success" : "bg-danger" %}-->

<!--                    <hr class="mb-3">-->
<!--                    <form action="/admin/issues/action" id="issueForm" method="POST">-->
<!--                        <div class="form-group">-->
<!--                            <input class="d-none" name="id" type="text" value="{{issue.id}}">-->
<!--                            <label class="form-label small text-secondary" for="resolution">Your Message:</label>-->
<!--                            <textarea class="form-control" id="resolution" name="action" rows="4"-->
<!--                                      {{readOnly}}>{{issue.action}}</textarea>-->
<!--                        </div>-->
<!--                        <div class="form-group mt-2">-->

<!--                            {% if issue.status == 'pending' %}-->

<!--                            <label class="btn btn-success" for="resolved">Resolved</label>-->
<!--                            <input autocomplete="off" class="btn-check " id="resolved" name="status"-->
<!--                                   type="radio"-->
<!--                                   value="resolved"-->
<!--                            >-->

<!--                            <label class="btn btn-danger" for="rejected">Reject</label>-->
<!--                            <input autocomplete="off" class="btn-check " id="rejected" name="status"-->
<!--                                   type="radio"-->
<!--                                   value="rejected"-->
<!--                            >-->
<!--                            {% endif %}-->
<!--                        </div>-->
<!--                    </form>-->

                    <div class="app-chat-history bg-secondary p-2">
                        <div class="chat-history-wrapper">
                            <div class="chat-history-body ps ps--active-y">
                                <div class="chat">

                                </div>
                                <div class="ps__rail-x" style="left: 0px; bottom: -609px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 609px; height: 467px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 265px; height: 202px;"></div>
                                </div>
                            </div>
                            <!-- Chat message form -->
                            <div class="chat-history-footer">
                                <form id="issueMessageForm" class="form-send-message d-flex justify-content-between align-items-center ">
                                    <input class="form-control message-input border-0 me-3 shadow-none"
                                           placeholder="Type your message here..." name="message">
                                    <div class="message-actions d-flex align-items-center">
                                        <label for="attach-doc" class="form-label mb-0">
                                            <i class="bx bx-paperclip bx-sm cursor-pointer mx-3 text-body"></i>
                                            <input type="file" id="attach-doc" hidden="">
                                        </label>
                                        <button class="btn btn-primary d-flex send-msg-btn">
                                            <i class="bx bx-paper-plane me-md-1 me-0"></i>
                                            <span class="align-middle d-md-inline-block d-none">Send</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card mb-2">
                <div class="card-body">
                    <a class="btn btn-secondary" href="/admin/issues">Back</a>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script>

    // const issueForm = document.querySelector("#issueForm");
    // const resolveBtn = document.querySelector('#resolved');
    // const rejectBtn = document.querySelector('#rejected');
    //
    // const resolveMessage = "<p class='text-success font-weight-bold'>You are about to resolve this issue.</p> <p>Resolving the issue will mark it as completed and initiate the necessary actions to address the reported problem. Once resolved, the sender will be notified of the resolution status.</p> <p>Are you sure you want to proceed?</p>";
    // const rejectMessage = "<p class='text-danger font-weight-bold'>You are about to reject this issue.</p> <p>Rejecting the issue will indicate that it will not be addressed further and the sender will be notified of the rejection status.</p> <p>Are you sure you want to proceed with rejection?</p>";
    //
    // resolveBtn.addEventListener('click', (event) => {
    //     confirm(resolveMessage, submitForm);
    // })
    //
    // rejectBtn.addEventListener('click', (event) => {
    //     confirm(rejectMessage, submitForm);
    // })
    //
    // const submitForm = () => {
    //     issueForm.submit();
    // }
</script>

<script>

    const updatChat = async () => {
        $.ajax({
            url: "/messages/{{issue.id}}",
            success: function (result) {
                $(".chat").html(result);
            }
        });
    }

    updatChat();

    window.addEventListener("load", function () {

        const fileUploadInput = document.querySelector('#attach-doc');
        const issueMessageForm = document.querySelector('#issueMessageForm');


        fileUploadInput.addEventListener('change', async (event) => {

            let formData = new FormData();

            formData.append('image', fileUploadInput.files[0])

            let result = await fetch('/upload/issue/image/{{issue.id}}', {
                method: "POST",
                body: formData,
            })

            let data = await result.json();

            if (result.ok) {
                updatChat();
            } else {
                console.log(data);
            }

        })

        issueMessageForm.addEventListener('submit', async (event) => {


            event.preventDefault();


            let formData = new FormData();
            let message = issueMessageForm.querySelector("input[name='message']");

            formData.append('message', message.value)

            message.value = "";

            let result = await fetch('/issue/message/{{issue.id}}', {
                method: "POST",
                body: formData,
            })

            let data = await result.json();

            if (result.ok) {
                updatChat();
            } else {
                console.log(data);
            }

        })

        setInterval(updatChat,3000)


    });


</script>
{% endblock %}