{% extends "./admin/index.html" %}

{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">

        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card">

                <div class="card-header">
                    <h5 class="card-title">{{header.TITLE}}</h5>
                    <h6 class="card-title">Coverage: {{header.REPORT_COVERAGE}}</h6>
                    <h6 class="card-title">Total Collection: {{header.TOTAL|format_currency('PHP')}}</h6>
                </div>

                <div class="table-responsive">

                    <table class="table thead-dark table-hover rounded-table table-shadow">
                        <thead class="bg-dark text-white">
                        <tr>
                            <th>Amount</th>
                            <th>Unit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in data %}
                            <tr>
                               <td>₱{{data['AMOUNT']}}</td>
                               <td>{{data['UNIT']}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex flex-column gap-2">
                        <button onclick="printPdf()" class="btn btn-primary mb-2">
                            <span id="printLoading" class="d-none spinner-border" role="status">
                            </span>
                            <span id="printLabel">
                                Print
                            </span>
                        </button>

                        <form id="formData" method="POST" action="/admin/report-download">

                            <div class="d-none">

                                <div class="col-sm">
                                    <input
                                            class="form-control"
                                            type="month"
                                            name="from"
                                            required
                                            value="{{form.from}}"
                                    />
                                </div>
                                <div class="col-sm">
                                    <label>To</label>
                                    <input
                                            class="form-control"
                                            type="month"
                                            name="to"
                                            value="{{form.to}}"
                                            required
                                    />
                                </div>

                                {% for status in form.reportStatus %}
                                    <input checked class="form-check-input" type="radio" name="reportStatus[]" value="{{status}}">
                                {% endfor %}

                                <input name="block" type="text"  value="{{form.block}}"/>
                                <input name="lot" type="text"  value="{{form.lot}}"/>

                            </div>

                            <button type="submit" class="btn btn-primary w-100">Download</button>

                        </form>

                        <a href="/admin/payments" class="btn btn-secondary mb-2">Back</a>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}

<script>

    const printLoading = document.getElementById('printLoading');
    const printLabel = document.getElementById('printLabel');

    const form = document.querySelector('#formData');


    async function printPdf() {

        printLoading.classList.toggle('d-none');
        printLabel.classList.toggle('d-none');

        let formData = new FormData(form);

        try {

            const data = await fetch('/admin/report-download',{
                'method': 'POST',
                'body': formData
            });

            const blob = await data.blob();

            const reader = new FileReader();

            reader.onload = () => {
                const pdfWindow = window.open('');
                const base64data = reader.result.split(',')[1]; // Extract base64 data

                pdfWindow.document.write(`<iframe width="100%" height="100%" src="data:application/pdf;base64,${base64data}"></iframe>`);
                pdfWindow.document.close();

                pdfWindow.onload = () => {
                    pdfWindow.focus();
                    pdfWindow.print();
                };

            }
            reader.readAsDataURL(blob);


        } catch (error) {
            console.error('Error fetching PDF:', error);
        }

        printLoading.classList.toggle('d-none');
        printLabel.classList.toggle('d-none');
    }

</script>
{% endblock %}