{% extends "./admin.html" %} {% block body %}

<div class="container-fluid py-2">
    <a href="/logout" class="btn btn-danger mb-1">Logout</a>
    <h3 class="heading">Account Details</h3>
    <form action="" class="form">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" value="{{name}}" class="form-control" readonly/>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" value="{{email}}" class="form-control" readonly/>
        </div>
        <div class="form-group row align-items-center">
            <div class="col-sm">
                <label for="">Block</label>
                <input type="number" value="1" class="form-control" readonly/>
            </div>
            <div class="col-sm">
                <label for="">Lot</label>
                <input type="number" value="1" class="form-control" readonly/>
            </div>
        </div>
        <div class="d-flex align-items-center p-2" style="gap: 10px">
            <button class="btn btn-success" type="submit">New Password</button>
            <button class="btn btn-secondary" type="submit">Edit</button>
        </div>
    </form>
</div>

<div class="container-fluid py-2 border-top">
    <h3 class="heading">Login History</h3>
    <div class="list-group">
        {% for history in loginHistory %}
        <div class="list-group-item">

            {% if history.getSession() == sessionId  %}
             <div class="badge badge-pill bg-primary p-2">This Device</div>
            {% endif %}
            {% if history.isActive() %}
            <div  class="badge badge-pill bg-success p-2">Status: Active</div>
            {% else %}
            <div class="badge badge-pill bg-secondary p-2">Status: Not Active</div>
            {% endif %}
            <div>Login Time: {{history.getLoginDate()|date("M d, Y")}}</div>
            <div>Logout Time: {{ history.getLogoutDate() is empty ? "-" : history.getLogoutDate()|date("M d, Y")}}</div>
        </div>
        {% endfor %}
    </div>

</div>

<div class="container-fluid py-2 border-top">
    <h3 class="heading">Activity Logs</h3>

    <div>
        <ul class="list-group">
            <li class="list-group-item">
                Cras justo odio
                <small class="mx-2 text-secondary small">
                    June 16, 2023 - 09:12 AM
                </small>
            </li>
            <li class="list-group-item">
                Cras justo odio
                <small class="mx-2 text-secondary small">
                    June 16, 2023 - 09:12 AM
                </small>
            </li>
            <li class="list-group-item">
                Cras justo odio
                <small class="mx-2 text-secondary small">
                    June 16, 2023 - 09:12 AM
                </small>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
