{% extends "./admin.html" %} {% block body %}

<style>
    .rounded-table {
        border-radius: 10px; /* Adjust the radius value as needed */
        overflow: hidden; /* Hide overflowing content */
    }

    .table-shadow {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .table td {
        vertical-align: middle;
    }
</style>





<main class="container-fluid mt-3">
    {% if superAdmin  %}

    <div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="adminModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adminModalLabel">Grant Admin Privileges</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newAdmin" method="POST" action="/admin/add-admin">
                        <div class="form-group">
                            <label  for="email">Email</label>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter Email">
                        </div>
                        <div class="form-group" id="userDetail">
                        </div>
                        <div class="form-group mt-1">
                            <label>Privileges</label>
                            <div class="form-check">
                                <input name="announcement" type="checkbox" class="form-check-input" id="manageAnnouncements">
                                <label class="form-check-label" for="manageAnnouncements">Manage Announcements</label>
                            </div>
                            <div class="form-check">
                                <input name="payment" type="checkbox" class="form-check-input" id="managePayments">
                                <label class="form-check-label" for="managePayments">Manage Payments</label>
                            </div>
                            <div class="form-check">
                                <input name="user" type="checkbox" class="form-check-input" id="manageUsers">
                                <label class="form-check-label" for="manageUsers">Manage Users</label>
                            </div>
                            <div class="form-check">
                                <input name="issue" type="checkbox" class="form-check-input" id="manageIssues">
                                <label class="form-check-label" for="manageIssues">Manage Issues</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Grant Admin Privileges</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="demoteAdminModal" tabindex="-1" aria-labelledby="adminModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeAdminModalLabel">Remove Admin Privileges</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="demoteAdmin" method="POST" action="/admin/demote-admin">
                        <div class="form-group">
                            <label  for="email">Email</label>
                            <input name="email" type="text" class="form-control" id="email2" placeholder="Enter Email">
                        </div>
                        <div class="form-group" id="userDetail2">
                        </div>
                        <div class="form-group mt-1">
                            <label>Privileges</label>
                            <small class="d-block small text-secondary">Unchecked to remove privilege</small>
                            <div class="form-check" id="announcementContainer">
                                <input  id="announcementDemote" name="announcement" type="checkbox" class="form-check-input" >
                                <label class="form-check-label" for="announcementDemote">Manage Announcements</label>
                            </div>
                            <div class="form-check" id="paymentContainer">
                                <input  id="paymentDemote" name="payment" type="checkbox" class="form-check-input">
                                <label  class="form-check-label" for="paymentDemote">Manage Payments</label>
                            </div>
                            <div class="form-check" id="userContainer">
                                <input  id="userDemote"  name="user" type="checkbox" class="form-check-input" >
                                <label class="form-check-label" for="userDemote">Manage Users</label>
                            </div>
                            <div class="form-check" id="issueContainer">
                                <input  id="issueDemote"  name="issue" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="issueDemote">Manage Issues</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Demote Admin</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <span class="small text-secondary text-decoration-none d-block">Tool Bar</span>
    <div aria-label="Basic example" class="btn-group" role="group">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#adminModal">Add New Admin</button>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#demoteAdminModal">Demote Admin</button>
    </div>

    {% endif %}


    <form action="/admin/users" class="form mb-2" id="announcementForm" method="GET">

        {% if superAdmin  %}

        <div class="py-2">

            {% set status = role | lower %}

            {% set userBg = status == "user" ? "btn-secondary" : "" %}
            {% set adminBg = status == "admin" ? "btn-secondary" : "" %}

            {% set userCh = status == "user" ? "checked" : "" %}
            {% set adminCh = status == "admin" ? "checked" : "" %}

            <span class="text-secondary small d-block">User Role</span>

            <div class="btn-group mb-2" role="group">


                <label class="btn border-0 {{adminBg}}" for="admin">Admin</label>
                <input autocomplete="off" class="btn-check" id="admin" name="role" type="radio"
                       value="admin" {{adminCh}}>
                <label class="btn border-0 {{userBg}}" for="user">User</label>
                <input autocomplete="off" class="btn-check " id="user" name="role" type="radio" value="user"
                       {{userCh}}>
            </div>
        </div>
        {% endif %}
        <span class="text-secondary small d-block">Search Bar</span>
        <input class="form-control" name="query" placeholder="User Name" type="text" value="{{query}}">
    </form>


    <div class="table-responsive">

        <table class="table thead-dark table-hover rounded-table table-shadow">
            <thead class="bg-dark text-white">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Block</th>
                <th>Lot</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>{{user.block}}</td>
                <td>{{user.lot}}</td>
                <td>
                    <button class="btn btn-danger block-btn" style="min-width: 85px">Block</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include './partials/new-pagination.html' %}
</main>

<script>

    const announcementForm = document.querySelector("#announcementForm");

    // Get the input element by its name attribute
    const roles = document.querySelectorAll('input[name="role"]');

    roles.forEach(role => {
        role.addEventListener('change', (event) => announcementForm.submit());
    })
</script>


{% if superAdmin  %}
<script>

const userDetail = document.querySelector("#userDetail");
const userDetail2 = document.querySelector("#userDetail2");
const emailField = document.querySelector('#email');
const emailField2 = document.querySelector('#email2');

//container
const issueContainer = document.querySelector("#issueContainer");
const userContainer = document.querySelector("#userContainer");
const paymentContainer = document.querySelector("#paymentContainer");
const announcementContainer = document.querySelector("#announcementContainer");

const issueDemote = document.querySelector("#issueDemote");
const userDemote = document.querySelector("#userDemote");
const paymentDemote = document.querySelector("#paymentDemote");
const announcementDemote = document.querySelector("#announcementDemote");

emailField.addEventListener('keyup',async (event)=>{



    const formData = new FormData();
    formData.append("email",emailField.value);

    const data = await fetch('/api/user',{
        method: "POST",
        body: formData
    })

    if(data.ok){
        const user = await data.json();
        userDetail.innerHTML = user.name;
    }else{
        console.log("An error has occurred");
    }

});

emailField2.addEventListener('keyup',async (event)=>{

    issueContainer.classList.add('d-none');
    userContainer.classList.add('d-none');
    paymentContainer.classList.add('d-none');
    announcementContainer.classList.add('d-none');

    if(!emailField2.value.includes("@")){
      return;
    }

    const formData = new FormData();
    formData.append("email",emailField2.value);

    const data = await fetch('/api/user',{
        method: "POST",
        body: formData
    })

    if(data.ok){
        const user = await data.json();
        userDetail2.innerHTML = user.name;
        console.log(user);

        if(user.payment){
            paymentContainer.classList.remove('d-none');
            paymentDemote.checked = true;
        }

        if(user.issue){
            issueContainer.classList.remove('d-none');
            issueDemote.checked = true;
        }

        if(user.user){
            userContainer.classList.remove('d-none');
            userDemote.checked = true;
        }

        if(user.announcement){
            announcementContainer.classList.remove('d-none');
            announcementDemote.checked = true
        }
    }

});


</script>
{% endif %}

{% endblock %}
