{% extends "./admin.html" %} {% block body %}

<section class="p-3">
  <a href="/admin/announcement" class="btn btn-success">Create</a>

  <div class="container-fluid py-2">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Posted By</th>
          <th>Created At</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% if announcements is not empty %} {% for announcement in announcements
        %}
        <tr>
          <td>{{announcement.getTitle()}}</td>
          <td>{{announcement.getUser().getName()}}</td>
          <td>{{announcement.getCreatedAt()}}</td>
          <td>{{announcement.getStatus()}}</td>
          <td>
            <a href="/admin/announcement/edit/{{announcement.getId()}}" class="btn btn-warning">Edit</a>
            
            <button onclick="confirm('Are You sure you want to delete this?','/admin/announcement/delete/{{announcement.getId()}}','true')" class="btn btn-danger">Delete</button>

            {% if announcement.status == 'posted' %}
              <a href="/admin/announcement/archive/{{announcement.getId()}}" class="btn btn-secondary">Archive</a>
              {% else %}
              <a href="/admin/announcement/post/{{announcement.getId()}}" class="btn btn-success">Post</a>
            {% endif %}

          </td>
        </tr>
        {% endfor %} {% else %}
        <td colspan="5" class="text-center">No Data Available</td>
        {% endif %}
      </tbody>
    </table>
  </div>
  {% include './partials/pagination.html' %}
  {% include './partials/message-modal.html' %}
  {% include './partials/confirmation.html' %}

</section>

{% endblock %}
