{% extends "./admin.html" %} {% block body %}

<!-- Controls -->
{% include './partials/admin-home-control.html' %}

<!-- Settings Form -->
{% include './partials/settings-form.html' %}

<!-- Due form -->
{% include './partials/due-form.html' %}

<!-- Main Content -->
<main>



    <style>
        .rounded-table {
            border-radius: 10px; /* Adjust the radius value as needed */
            overflow: hidden; /* Hide overflowing content */
        }
        .table-shadow{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .table td {
            vertical-align: middle;
        }
    </style>

    <div class="container-fluid">

        {% include './partials/admin-search.html' %}

        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table thead-dark table-hover rounded-table table-shadow">
                    <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if transactions is not empty %} {% for transaction in
                    transactions %}

                    {% set trStatus = transaction.getStatus() %}

                    {% set bg = trStatus == "PENDING" ? "bg-warning text-dark" : ""%}
                    {% set bg = trStatus == "APPROVED" ? "bg-success" : bg%}
                    {% set bg = trStatus == "REJECTED" ? "bg-danger" : bg%}

                    <tr class="bg-white">
                        <td>{{transaction.getId()}}</td>
                        <td>{{transaction.getFromMonth()|date("M Y")}}</td>
                        <td>{{transaction.getToMonth()|date("M Y")}}</td>
                        <td><span class="p-2 badge badge-pill {{bg}}">{{transaction.getStatus()|lower}}</span></td>
                        <td>
                            <a
                                    class="btn btn-primary"
                                    href="/admin/transaction/{{transaction.getId()}}"
                            >
                                Manage
                            </a>
                        </td>
                    </tr>
                    {% endfor %} {% else %}
                    <td class="text-center" colspan="5">No Data Available</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% include './partials/new-pagination.html' %}

        </div>
    </div>
</main>

<!-- Manual Payment -->
{% include './partials/admin-manual-payment-modal.html' %}


{% endblock %}
