{% extends "./admin.html" %} {% block body %}

<style>

    .table td {
        vertical-align: middle;
    }

    .rounded-table {
        border-radius: 10px; /* Adjust the radius value as needed */
        overflow: hidden; /* Hide overflowing content */
    }

    .table-shadow {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
</style>

<div class="container-fluid py-2">

    <form action="/admin/issues" id="issueForm" method="GET">
        <div class="py-2">

            {% set allBg = status == "ALL" ? "btn-secondary" : "" %}
            {% set pendingBg = status == "pending" ? "btn-secondary" : "" %}
            {% set approvedBg = status == "resolved" ? "btn-secondary" : "" %}
            {% set rejectedBg = status == "rejected" ? "btn-secondary" : "" %}

            {% set allCh = status == "ALL" ? "checked" : "" %}
            {% set pendingCh = status == "pending" ? "checked" : "" %}
            {% set approvedCh = status == "resolved" ? "checked" : "" %}
            {% set rejectedCh = status == "rejected" ? "checked" : "" %}

            {% set allBg = status is empty ? "btn-secondary" : allBg %}
            {% set allCh = status is empty ? "checked" : allCh %}


            <span class="text-secondary small d-block">Issue Status</span>

            <div class="btn-group mb-2" role="group">
                <label class="btn border-0 {{allBg}}" for="all">All</label>
                <input autocomplete="off" class="btn-check " id="all" name="status" type="radio" value="ALL"
                       {{allCh}}>

                <label class="btn border-0 {{approvedBg}}" for="approved">Resolved</label>
                <input autocomplete="off" class="btn-check" id="approved" name="status" type="radio"
                       value="resolved" {{approvedCh}}>

                <label class="btn border-0 {{pendingBg}}" for="pending">Pending</label>
                <input autocomplete="off" class="btn-check" id="pending" name="status" type="radio"
                       value="pending" {{pendingCh}}>

                <label class="btn border-0 {{rejectedBg}}" for="rejected">Rejected</label>
                <input autocomplete="off" class="btn-check" id="rejected" name="status" type="radio"
                       value="rejected" {{rejectedCh}}>
            </div>

            <span class="text-secondary small d-block">Search Bar</span>
            <div class="input-group mb-3">
                <input class="form-control" name="query" placeholder="Issue Title" type="text" value="{{query}}">
                <button class="btn border-0 text-white btn-secondary btn-outline-primary" data-target="#filterModal"
                        data-toggle="modal" type="button">
                    Filter
                </button>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="filterModal"
                     role="dialog"
                     tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Filter Issues</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-1">
                                    <label class="form-label">Select Date</label>
                                    {% if createdAt is not empty %}
                                    <input class="form-control" name="createdAt" type="date"
                                           value="{{createdAt|date('Y-m-d')}}">
                                    {% else %}
                                    <input class="form-control" name="createdAt" type="date">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" type="submit">Apply Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="py-2">
        <div class="table-responsive">
            <table class="table thead-dark table-hover rounded-table table-shadow">
                <thead class="bg-dark text-white">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for issue in issues %}

                {% set issueStatus = issue.status | upper%}


                {% set bg = issueStatus == "PENDING" ? "bg-warning text-dark" : ""%}
                {% set bg = issueStatus == "RESOLVED" ? "bg-success" : bg%}
                {% set bg = issueStatus == "REJECTED" ? "bg-danger" : bg%}

                <tr>
                    <td>{{issue.id}}</td>
                    <td>
                        <p class="text-truncate p-0 m-0" style="max-width: 100px">{{issue.title}}</p>
                    </td>
                    <td><p class="text-truncate p-0 m-0" style="max-width: 150px">{{issue.content}}</p></td>
                    <td>{{issue.getCreatedAt()| date('M d, Y')}}</td>
                    <td><span class="badge p-2 badge-pill {{bg}}">{{issue.status}}</span></td>
                    <td><a class="btn btn-primary" href="issues/{{issue.id}}">Manage</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include './partials/new-pagination.html' %}

    </div>
</div>


<script>

    const issueForm = document.querySelector("#issueForm");

    // Get the input element by its name attribute
    const statuses = document.querySelectorAll('input[name="status"]');

    statuses.forEach(status => {
        status.addEventListener('change', (event) => issueForm.submit());
    })
</script>

{% endblock %}
