{% extends "./admin.html" %} {% block body %}

<style>
    .table td {
        vertical-align: middle;
    }

    .rounded-table {
        border-radius: 10px; /* Adjust the radius value as needed */
        overflow: hidden; /* Hide overflowing content */
    }

    .table-shadow {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
</style>
<section class="container-fluid">

    <span class="small text-secondary text-decoration-none d-block">Tool Bar</span>
    <div aria-label="Basic example" class="btn-group" role="group">
        <a class="btn btn-outline-success" href="/admin/announcement">Create</a>
    </div>


    <form action="/admin/announcements" id="announcementForm" method="GET">
        <div class="py-2">

            {% set status = status | upper %}
            {% set postedBg = status == "POSTED" ? "btn-secondary" : "" %}
            {% set archivedBg = status == "ARCHIVED" ? "btn-secondary" : "" %}

            {% set postedCh = status == "POSTED" ? "checked" : "" %}
            {% set archivedCh = status == "ARCHIVED" ? "checked" : "" %}

            {% set postedBg = status is empty ? "btn-secondary" : postedBg %}
            {% set postedCh = status is empty ? "checked" : postedCh %}

            <span class="text-secondary small d-block">Announcement Status</span>

            <div class="btn-group mb-2" role="group">
                <label class="btn border-0 {{postedBg}}" for="posted">Posted</label>
                <input autocomplete="off" class="btn-check " id="posted" name="status" type="radio" value="POSTED"
                       {{postedCh}}>

                <label class="btn border-0 {{archivedBg}}" for="archived">Archived</label>
                <input autocomplete="off" class="btn-check" id="archived" name="status" type="radio"
                       value="ARCHIVED" {{archivedCh}}>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table thead-dark table-hover rounded-table table-shadow">
            <thead class="bg-dark text-white">
            <tr>
                <th>Title</th>
                <th>Posted By</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if announcements is not empty %} {% for announcement in announcements
            %}
            <tr>
                <td>{{announcement.getTitle()}}</td>
                <td>{{announcement.getUser().getName()}}</td>
                <td>{{announcement.getCreatedAt()|date("M d, Y")}}</td>
                <td>{{announcement.getStatus()}}</td>
                <td>
                    <div class="gap d-flex flex-wrap" style="max-width: max-content">

                        <a class="btn btn-warning" href="/admin/announcement/edit/{{announcement.getId()}}"
                           style="flex: 1 1 0px;">Edit</a>

                        <button class="btn btn-danger"
                                onclick="confirm('Are You sure you want to delete this?','/admin/announcement/delete/{{announcement.getId()}}','true')"
                                style="flex: 1 1 0px;"
                        >
                            Delete
                        </button>

                        {% set announcementId = announcement.getId() %}
                        {% set status = announcement.status | lower %}

                        {% set displayStatus = status == 'posted' ? 'Archived' : 'Post' %}

                        {% set postValue = "/admin/announcement/archive/#{announcementId}"%}
                        {% set archiveValue = "/admin/announcement/post/#{announcementId}"%}
                        {% set action = status == "posted" ? postValue : archiveValue%}

                        <a class="btn btn-secondary" href="{{action}}" style="flex: 1 1 0px;">{{displayStatus}}</a>
                    </div>

                </td>
            </tr>
            {% endfor %} {% else %}
            <td class=" text-center" colspan="5">No Data Available
            </td>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% include './partials/pagination.html' %}
    {% include './partials/message-modal.html' %}
    {% include './partials/confirmation.html' %}

</section>

<script>
    const announcementForm = document.querySelector('#announcementForm');

    // Get the input element by its name attribute
    const statuses = document.querySelectorAll('input[name="status"]');

    statuses.forEach(status => {
        status.addEventListener('change', (event) => announcementForm.submit());
    })
</script>

{% endblock %}
