{% extends "./admin.html" %} {% block body %}

<div class="container-fluid p-2">
<button class="btn btn-secondary" data-toggle="modal" data-target="#accountModal" >Settings</button>
</div>
<!-- Settings Form -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountModalLabel">Edit Account Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Account details form -->
        <form id="accountForm" method="POST" action="/admin/payment-settings" enctype="multipart/form-data">
          <div>
            <input type="text" name="id" value="{{settings.id}}" class="d-none">
          </div>
          <div class="form-group">
            <!-- Preview -->
            <img src="/uploads/{{settings.qr}}" class="img-thumbnail d-block mx-auto">
            <label for="accountQRCode">Change QR</label>
            <input type="file" class="form-control" id="accountQRCode" name="qr">
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="accountName">Account Name</label>
              <input type="text" class="form-control" id="accountName" name="name" value="{{settings.accountName}}" required>
            </div>
            <div class="col-sm">
              <label for="accountNumber">Account Number</label>
              <input type="text" class="form-control" id="accountNumber" name="number" value="{{settings.accountNumber}}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="dueMonth">Start Month</label>
            <input type="month" class="form-control"  name="start" value="{{settings.getConvertedStart()}}" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Search Form -->
<form action="/admin" method="GET" id="searchForm">

  <div>
    <input placeholder="search" type="text" name="query" value="{{query}}" />
  </div>
  <div>
    <label for="">From</label>
    <input type="month" name="from" value="{{from}}" />
  </div>
  <div>
    <label for="">To</label>
    <input type="month" name="to"  value="{{to}}"/>
  </div>
  <div>
    <label for="">Status</label>
    <select name="status">
      <option value="ALL"  {% if status == 'ALL' %}selected{% endif %}>ALL</option>
      <option value="PENDING" {% if status == 'PENDING' %}selected{% endif %}>PENDING</option>
      <option value="APPROVED" {% if status == 'APPROVED' %}selected{% endif %}>APPROVED</option>
      <option value="REJECTED" {% if status == 'REJECTED' %}selected{% endif %}>REJECTED</option>
    </select>
  </div>
  <div>
    <button type="submit">Apply</button>
  </div>
</form>
<main>
  <div class="container-fluid bg-light">
    <div>
      <table class="table thead-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% if transactions is not empty %} {% for transaction in transactions
          %}
          <tr>
            <td>{{transaction.getId()}}</td>
            <td>{{transaction.getFromMonth()}}</td>
            <td>{{transaction.getToMonth()}}</td>
            <td>{{transaction.getStatus()}}</td>
            <td>
              <a
                class="btn btn-secondary"
                href="/admin/transaction/{{transaction.getId()}}"
              >
                View
              </a>
            </td>
          </tr>
          {% endfor %} {% else %}
          <td colspan="5" class="text-center">No Data Available</td>
          {% endif %}
        </tbody>
      </table>

      {% if (totalTransaction > transactionPerPage) %}
      <!-- Pagination Links -->
      <nav aria-label="...">
        Page
        <ul class="pagination pagination-md">
          {%for page in 1..totalPages%} {% if page == currentPage %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">{{ page }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page }}&from={{from}}&to={{to}}&status={{status}}">{{ page }}</a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</main>


{% endblock %}
