{% extends "./admin.html" %} {% block body %}

<style>
    .rounded-table {
        border-radius: 10px; /* Adjust the radius value as needed */
        overflow: hidden; /* Hide overflowing content */
    }

    .table-shadow {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .table td {
        vertical-align: middle;
    }
</style>

<main class="container-fluid">

    <span class="small text-secondary text-decoration-none d-block">Tool Bar</span>
    <div aria-label="Basic example" class="btn-group" role="group">
        <a class="btn btn-outline-success">Add New Admin</a>
        <a class="btn btn-outline-danger">Demote an Admin</a>
    </div>

    <form action="/admin/users" class="form mb-2" id="announcementForm" method="GET">
        <div class="py-2">

            {% set status = role | lower %}

            {% set userBg = status == "user" ? "btn-secondary" : "" %}
            {% set adminBg = status == "admin" ? "btn-secondary" : "" %}

            {% set userCh = status == "user" ? "checked" : "" %}
            {% set adminCh = status == "admin" ? "checked" : "" %}

            <span class="text-secondary small d-block">User Role</span>

            <div class="btn-group mb-2" role="group">

                <label class="btn border-0 {{adminBg}}" for="admin">Admin</label>
                <input autocomplete="off" class="btn-check" id="admin" name="role" type="radio"
                       value="admin" {{adminCh}}>

                <label class="btn border-0 {{userBg}}" for="user">User</label>
                <input autocomplete="off" class="btn-check " id="user" name="role" type="radio" value="user"
                       {{userCh}}>
            </div>
        </div>
        <span class="text-secondary small d-block">Search Bar</span>
        <input class="form-control" name="query" placeholder="User Name" type="text" value="{{query}}">
    </form>


    <div class="table-responsive">

        <table class="table thead-dark table-hover rounded-table table-shadow">
            <thead class="bg-dark text-white">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Block</th>
                <th>Lot</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>{{user.block}}</td>
                <td>{{user.lot}}</td>
                <td>
                    <button class="btn btn-danger block-btn" style="min-width: 85px">Block</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include './partials/new-pagination.html' %}
</main>

<script>

    const announcementForm = document.querySelector("#announcementForm");

    // Get the input element by its name attribute
    const roles = document.querySelectorAll('input[name="role"]');

    roles.forEach(role => {
        role.addEventListener('change', (event) => announcementForm.submit());
    })
</script>

{% endblock %}
