{% extends "./admin.html" %} {% block body %}

<div class="container-fluid mt-2">
  <button class="btn btn-primary">Back</button>
  <button class="btn btn-success">Export Excel</button>
  <form action="">
    <div class="row mt-1">
      <div class="col-sm">
        <label for="monthFilter">Month</label>
        <select id="monthFilter" class="form-select">
          <option value="">All Months</option>
          <option value="January">January</option>
          <option value="February">February</option>
        </select>
      </div>
      <div class="col-sm">
        <label for="blockLotFilter">Block</label>
        <input
          type="text"
          id="blockLotFilter"
          class="form-control"
          placeholder="Enter block"
        />
      </div>
      <div class="col-sm">
        <label for="blockLotFilter">lot</label>
        <input
          type="text"
          id="blockLotFilter"
          class="form-control"
          placeholder="Enter Lot"
        />
      </div>
    </div>
    <button id="searchButton" class="btn btn-primary my-2">Filter</button>
  </form>

  <h2 class="mb-3">Payment Table</h2>
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Block</th>
        <th>Lot</th>
        <th>Month</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Block 1</td>
        <td>Lot 101</td>
        <td>July 2023</td>
        <td>Paid</td>
      </tr>
      <tr>
        <td>Block 2</td>
        <td>Lot 202</td>
        <td>July 2023</td>
        <td>Not Paid</td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
{% endblock %}
