{% extends "./admin.html" %} {% block body %}
<div class="container-fluid mt-2">
    <h1 class="display-6">System Settings</h1>
    <form method="POST" action="/admin/system">

        <div class="form-group">

            {% set checked = systemSettings.allowSignup ? "checked" : "" %}

            <div class="form-check">
                <input class="form-check-input" name="allowSignup" type="checkbox" value="true" id="signup" {{checked}}>
                <label class="form-check-label" for="signup">
                    Enable User Signup
                </label>
            </div>

        </div>
        <div class="form-group row">
            <p class="m-0">Email Settings</p>
            <div class="col">
                <label>Host</label>
                <input class="form-control"  name="mailHost" type="text" value="{{systemSettings.mailHost}}">
            </div>
            <div class="col">
                <label>Email </label>
                <input class="form-control"  name="mailUsername" type="text" value="{{systemSettings.mailUsername}}">
            </div>
            <div class="col">
                <label>Password</label>
                <input class="form-control"  name="mailPassword" type="password" >
            </div>
        </div>
        <div class="form-group">
            <label for="termsAndCondition">Terms And Condition</label>
            <textarea name="termsAndCondition" class="form-control" id="termsAndCondition" rows="12">{{systemSettings.termsAndCondition}}</textarea>
        </div>
        <button class="btn btn-primary mt-1" type="submit">Save Settings</button>
    </form>
</div>
{% endblock %}
