{% extends "./user.html" %} {% block body %}


<div class="d-flex align-items-center justify-content-center" style="height: 500px">
    <form class="form border shadow rounded p-5" id="forgotPasswordForm">
        <h3 class="">Forgot Password</h3>
        <div class="mb-3" id="emailSection">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3" style="display: none;" id="codeInput">
            <label for="resetCode" class="form-label">Insert 6 Digit Code</label>
            <input type="text" class="form-control" id="resetCode" name="code" placeholder="Enter your reset code"
                   required>
        </div>
        <button type="button" role="button" class="btn btn-primary" onclick="showCodeInput()" id="confirmBtn">Confirm
        </button>
        <button type="submit" role="button" class="btn btn-success d-none" id="submitBtn">Reset Password</button>
        <div class="mt-2 text-danger text-center" id="errorField">

        </div>
    </form>
</div>

<script>

    const forgotPasswordForm = document.querySelector("#forgotPasswordForm");
    const emailInput = document.getElementById("email");
    const pinInput = document.getElementById("resetCode");
    const errorField = document.getElementById("errorField");

    forgotPasswordForm.addEventListener('submit', async (event) => {

        event.preventDefault();

        if (!(emailInput.checkValidity() && pinInput.checkValidity())) {
            return;
        }

        const formData = new FormData(forgotPasswordForm);

        let data = await fetch("/forgot-password", {
            method: "POST",
            body: formData
        })

        const result = await data.json();

        if (data.ok) {
            forgotPasswordForm.innerHTML =  result.message;
        } else {
            errorField.innerHTML = result.message;
        }


    })

    async function showCodeInput() {

        const emailSection = document.querySelector("#emailSection")
        const confirmBtn = document.querySelector("#confirmBtn")
        const submitBtn = document.querySelector("#submitBtn")
        const codeInput = document.getElementById("codeInput");


        if (emailInput.checkValidity()) {

            const formData = new FormData(forgotPasswordForm);

            const result = await fetch("/new-code", {
                method: "POST",
                body: formData
            })

            const data = await result.json();

            if(result.ok){
                codeInput.style.display = "block";
                emailSection.classList.add('d-none');
                confirmBtn.classList.add("d-none")
                submitBtn.classList.remove('d-none');
            }else{
                errorField.innerHTML = data.message;
            }


        }

    }
</script>

{% endblock %}