{% extends "./user.html" %} {% block body %}

<div
  class="container-fluid vh-100 d-flex justify-content-center align-items-center py-4"
>
  <form
    class="form border shadow p-3 rounded w-100"
    action="/login"
    method="POST"
    style="max-width: 400px;"
  >
    <h1 class="header">Login</h1>
    <div class="form-group">
      <label class="form-label mb-0" for="email">
        Email
        <span class="text-danger">*</span>
      </label>
      <input  id="email" class="form-control" type="email" name="email" />
    </div>
    <div class="form-group mt-2">
        <label class="form-label mb-0" for="password">
          Password
          <span class="text-danger">*</span>
        </label>
        <input id="password" class="form-control" type="password" name="password" />
    </div>
      <button class="btn btn-success mt-3" type="submit">Login</button>
    <div class="form-group mt-3 d-flex align-items-center justify-content-between gap">
      <a href="/register" class="text-decoration-none small  text-secondary link-primary">
        Don't have an account?
      </a>
      <a href="/forgot-password" class="text-decoration-none small text-secondary link-primary">
        forgot password?
      </a>
    </div>
    <div class="form-group text-danger text-center">
        {{loginErrorMessage}}
    </div>
  </form>
</div>
{% endblock %}