{% extends "./user.html" %} {% block body %}


<div class="container-fluid py-2">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
      <span class="input-group-text side-rounded" id="basic-addon1">
        Search Issue
      </span>
        </div>
        <input
                aria-describedby="basic-addon1"
                aria-label="Username"
                class="form-control"
                id="searchBar"
                placeholder="Issue Title"
                type="text"
        />
    </div>

    <button class="btn btn-success" data-target="#issueModal" data-toggle="modal">
        New Issue
    </button>

    <form action="/issues" id="viewForm" method="GET">

        <div class="d-flex gap">

            <div class="form-group">

                {% set type = type|lower %}
                {% set postedSelected = type == "posted" ? "selected" : ""%}
                {% set archivedSelected = type == "archive" ? "selected" : ""%}

                <label>View</label>
                <select class="form-control" id="view" name="type">
                    <option value="POSTED" {{postedSelected}}>Post</option>
                    <option value="ARCHIVE" {{archivedSelected}}>Archived</option>
                </select>
            </div>

            <div class="form-group">
                <label>Status</label>

                {% set status = status|lower %}
                {% set selectPending = status == "pending" ? "selected" : "" %}
                {% set selectResolved = status == "resolved" ? "selected" : "" %}
                {% set selectRejected = status == "rejected" ? "selected" : "" %}
                {% set selectAll = status == "all" ? "selected" : "" %}


                <select class="form-control" id="status" name="status">
                    <option value="ALL" {{selectAll}}>All</option>
                    <option value="PENDING" {{selectPending}}>Pending</option>
                    <option value="REJECTED" {{selectRejected}}>Rejected</option>
                    <option value="RESOLVED" {{selectResolved}}>Resolved</option>
                </select>
            </div>

        </div>

    </form>


    <div class="py-2 table-responsive">

        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}

            {% set status = issue.status|lower %}
            {% set bg = status == "pending" ? "bg-secondary" : bg %}
            {% set bg = status == "rejected" ? "bg-danger" : bg %}
            {% set bg = status == "resolved" ? "bg-success" : bg %}

            <tr>
                <td>{{issue.id}}</td>
                <td> <span class="d-block text-truncate" style="max-width: 20ch">{{issue.title}}</span></td>
                <td>{{issue.getCreatedAt()|date("M d, Y")}}</td>
                <td><span class="badge badge-pill {{bg}}">{{issue.status}}</span></td>
                <td>
                    <div class="d-flex flex-wrap" style="gap: 10px; max-width: max-content" >
                        {% if issue.type == 'posted' %}
                        <a class="btn btn-secondary" href="/issue/archive/{{issue.id}}" style="flex: 1 1 0px;">
                            Archive
                        </a>
                        {% else %}
                        <a class="btn btn-secondary" href="/issue/unarchive/{{issue.id}}" style="flex: 1 1 0px;">
                            Unarchive
                        </a>
                        {% endif %}
                        <a class="btn btn-primary" style="flex: 1 1 0px" href="/issues/{{issue.id}}">View</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include './partials/new-pagination.html' %}
    </div>

</div>

<div
        aria-hidden="true"
        aria-labelledby="exampleModalLabel"
        class="modal fade"
        id="issueModal"
        role="dialog"
        tabindex="-1"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="issueContent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Issue</h5>
                <button
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/issue" id="issueform" method="POST">
                    <div class="form-check form-switch">
                        <input
                                class="form-check-input"
                                id="anonymous"
                                name="type"
                                type="checkbox"
                                value="off"
                        />
                        <input class="d-none" id="anonymousInput" name="anonymous" type="text">
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            Submit as Anonymous
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Title</label>
                        <input class="form-control" name="title" type="text"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Content</label>
                        <textarea
                                class="form-control"
                                cols="30"
                                name="content"
                                rows="10"
                        ></textarea>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const anonyBtn = document.querySelector("#anonymous");
    const form = document.querySelector("#issueContent");
    const anonymousInput = document.querySelector('#anonymousInput');

    const issueForm = document.querySelector("#issueform");

    anonyBtn.addEventListener("click", (event) => {
        if (anonyBtn.checked) {
            form.classList.add("bg-dark");
            form.classList.add("text-white");
            anonymousInput.value = true;
        } else {
            form.classList.remove("bg-dark");
            form.classList.remove("text-white");
            anonymousInput.value = false;
        }
    });
</script>

<script>
    // view
    const viewForm = document.querySelector('#viewForm');

    const view = document.querySelector('#view');
    const status = document.querySelector('#status');

    view.addEventListener('change', (event) => {
        viewForm.submit();
    })

    status.addEventListener('change', (event) => {
        viewForm.submit();
    })

</script>

{% endblock %}
