{% extends "./user.html" %} {% block body %}


<div class="container-fluid py-2">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
      <span class="input-group-text side-rounded" id="basic-addon1">
        Search Issue
      </span>
        </div>
        <input
                aria-describedby="basic-addon1"
                aria-label="Username"
                class="form-control"
                id="searchBar"
                placeholder="Issue Title"
                type="text"
        />
    </div>

    <form action="/issues" id="viewForm" method="GET">

        <div class="d-flex gap">

            <div class="form-group">

                {% set type = type|lower %}
                {% set postedSelected = type == "posted" ? "selected" : ""%}
                {% set archivedSelected = type == "archive" ? "selected" : ""%}

                <label>View</label>
                <select class="form-control" id="view" name="type">
                    <option value="POSTED" {{postedSelected}}>Post</option>
                    <option value="ARCHIVE" {{archivedSelected}}>Archived</option>
                </select>
            </div>

            <div class="form-group">
                <label>Status</label>

                {% set status = status|lower %}
                {% set selectPending = status == "pending" ? "selected" : "" %}
                {% set selectResolved = status == "resolved" ? "selected" : "" %}
                {% set selectRejected = status == "rejected" ? "selected" : "" %}
                {% set selectAll = status == "all" ? "selected" : "" %}


                <select class="form-control" id="status" name="status">
                    <option value="ALL" {{selectAll}}>All</option>
                    <option value="PENDING" {{selectPending}}>Pending</option>
                    <option value="REJECTED" {{selectRejected}}>Rejected</option>
                    <option value="RESOLVED" {{selectResolved}}>Resolved</option>
                </select>
            </div>

        </div>

    </form>


    <div class="py-2 table-responsive">

        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}

            {% set status = issue.status|lower %}
            {% set bg = status == "pending" ? "bg-secondary" : bg %}
            {% set bg = status == "rejected" ? "bg-danger" : bg %}
            {% set bg = status == "resolved" ? "bg-success" : bg %}

            <tr>
                <td>{{issue.id}}</td>
                <td> <span class="d-block text-truncate" style="max-width: 20ch">{{issue.title}}</span></td>
                <td>{{issue.getCreatedAt()|date("M d, Y")}}</td>
                <td><span class="badge badge-pill {{bg}}">{{issue.status}}</span></td>
                <td>
                    <div class="d-flex flex-wrap" style="gap: 10px; max-width: max-content" >
                        {% if issue.type == 'posted' %}
                        <a class="btn btn-secondary" href="/issue/archive/{{issue.id}}" style="flex: 1 1 0px;">
                            Archive
                        </a>
                        {% else %}
                        <a class="btn btn-secondary" href="/issue/unarchive/{{issue.id}}" style="flex: 1 1 0px;">
                            Unarchive
                        </a>
                        {% endif %}
                        <a class="btn btn-primary" style="flex: 1 1 0px" href="/issues/{{issue.id}}">View</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include './partials/new-pagination.html' %}
    </div>

</div>


<script>
    // view
    const viewForm = document.querySelector('#viewForm');

    const view = document.querySelector('#view');
    const status = document.querySelector('#status');

    view.addEventListener('change', (event) => {
        viewForm.submit();
    })

    status.addEventListener('change', (event) => {
        viewForm.submit();
    })

</script>

{% endblock %}
