{% extends "./user.html" %} {% block body %}
  
{% include './partials/user-cards.html' %}

  <div class="container-fluid bg-light">
    <button
      type="button"
      class="btn-success btn shadow"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Pay
    </button>

    <h2>Payment History</h2>

    <!-- Filter here -->
    {% include './partials/user-search.html' %}

    <!-- table -->
    <table class="table thead-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Transaction ID</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if transactions is not empty %} {% for transaction in transactions %}
        <tr>
          <td>{{transaction.getId()}}</td>
          <td>{{transaction.getFromMonth()}}</td>
          <td>{{transaction.getToMonth()}}</td>
          <td>{{transaction.getStatus()}}</td>
          <td>
            <a
              class="btn btn-secondary"
              href="/transaction/{{transaction.getId()}}"
            >
              View
            </a>
          </td>
        </tr>
        {% endfor %} {% else %}
        <td colspan="5" class="text-center">No Data Available</td>
        {% endif %}
      </tbody>
    </table>

  {% include './partials/pagination.html' %}

  </div>
  
  <!-- Payment Form -->
  {% include './partials/user-payment-form.html' %}

{% endblock %}
