{% extends "./user/index.html" %}


{% block body %}

<style>
    p{
        margin-bottom: 0 !important;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="mx-auto row gap">
        {% for announcement in announcements %}

        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title mb-1">{{ announcement.title }}</h3>
                <small class="small">{{ announcement.createdAt|date("m/d/Y")  }}</small>
                <div class="content">`{{ announcement.content|raw}}`</div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>


{% endblock %}

{% block javascript %}
<script>
    const images = document.querySelectorAll('img');

    images.forEach(image => {

        if (image.classList.contains("hoa-logo")) {
            return;
        }

        image.classList.add('img-fluid')
        image.classList.add('scale')
    })

</script>
{% endblock %}