{% extends "./user/index.html" %}


{% block body %}


<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">

                    {% if target is not null %}
                    <a class="text-decoration-none text-secondary" href="/issues/{{target.id}}"> You submitted an <span
                            class="text-danger">issue </span> for this transaction</a>
                    {% endif %}


                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0">
                        <div>
                            <h4>Transaction #{{transaction.id}}</h4>
                            <div class="mb-2">
                                <span class="me-1">Date Issues:</span>
                                <span class="fw-medium">{{transaction.getCreatedAt()|date("M Y") }}</span>
                            </div>
                        </div>
                        <div class="mb-xl-0 mb-md-4 mb-sm-0 mb-4">
                            <h6 class="pb-2">Paid By:</h6>
                            <p class="mb-1"> {{ transaction.getUser.getName }}</p>
                            <p class="mb-1">{{ 'Block: ' ~ transaction.getUser.getBlock ~ ' Lot: ' ~
                                transaction.getUser.getLot }}</p>
                            <p class="mb-0">{{transaction.getUser.getEmail}}</p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">

                <div class="table-responsive">
                    <table class="table border-top m-0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>From Due</th>
                            <th>To Due</th>
                            <th>Amount Due</th>
                            <th>Amount Paid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{transaction.id}}</td>
                            <td class="text-nowrap">{{ transaction.getFromMonth()|date("M Y") }}</td>
                            <td class="text-nowrap">{{ transaction.getToMonth()|date("M Y") }}</td>
                            <td>{{amountDue}}</td>
                            <td>{{transaction.getAmount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="card-body">
                    <p>GCASH Receipts</p>
                    <div class="row d-flex gap-2 flex-wrap">
                        {% if receipts is not empty %}
                        {% for receipt in receipts %}
                        <img src="/uploads/{{ receipt.getPath() }}" class="img-thumbnail"/>
                        {% endfor %}
                        {% else %}
                        <p class="text-center">No receipts available.</p>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card mb-2">
                <div class="card-body">
                    <a href="/home" class="btn btn-secondary mb-2">Back</a>

                    {% if transaction.status == 'APPROVED' %}
                    <a href="/receipt/{{transaction.id}}" class="btn btn-primary mb-2">Download Invoice</a>
                    {% endif %}

                    {% if transaction.status == 'REJECTED' and target is null %}
                    <button class="btn btn-danger" data-bs-target="#issueModal" data-bs-toggle="modal">
                        Create Issue
                    </button>

                    {% endif %}

                </div>
            </div>
            {% if transaction.logs is not empty %}
             <div class="card mb-2">
                <div class="card-body">
                    <p>Status</p>
                    <ul class="list-group">

                        {% if transaction.status == 'REJECTED' %}
                            {% set bg = 'bg-danger text-white p-2' %}
                        {% elseif transaction.status == 'APPROVED' %}
                            {% set bg = 'bg-success text-white p-2' %} {% else %} {% set bg = 'bg-secondary text-white p-2' %}
                        {% endif %}

                        {% for log in transaction.logs %}

                        <li class="list-group-item">
                            <span class="badge badge-pill {{bg}}">{{transaction.status}}</span>
                            {{log.message}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="issueModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/issue" id="issueform" method="POST">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Report Issue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">Title</label>
                        <input class="form-control" name="title" type="text" readonly
                               value="Issue regarding transaction with ID {{transaction.id}}"/>
                    </div>
                    <input class="form-control d-none" name="target" type="text" value="{{transaction.id}}"/>

                    <div class="form-group">
                        <label class="form-label">Content</label>
                        <textarea
                                class="form-control"
                                cols="30"
                                name="content"
                                rows="10"
                        ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}