{% extends "./user.html" %} {% block body %}

{% if welcomeMessage is not empty %}
<div class="container-fluid my-2">
    <div class="alert alert-success position-relative" role="alert">
        <button aria-label="Close" class="border-0 outline-0 bg-transparent close float-end" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">Welcome</h4>
        <p>{{welcomeMessage}}</p>

    </div>
</div>

{% endif %}

{% include'./partials/user-cards.html' %}

<div class="container-fluid bg-light">
    <button
            class="btn-success btn shadow"
            data-target="#exampleModal"
            data-toggle="modal"
            type="button"
    >
        Pay
    </button>

    <h2>Payment History</h2>

    <!-- Filter here -->
    {% include './partials/user-search.html' %}

    <!-- table -->
    <div class="table-responsive">
        <table class="table thead-dark table-hover">
            <thead>
            <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>


            {% if transactions is not empty %} {% for transaction in transactions %}
            <tr>
                <td>{{transaction.getId()}}</td>
                <td>{{transaction.getFromMonth()|date("M Y")}}</td>
                <td>{{transaction.getToMonth()|date("M  Y")}}</td>
                <td>{{transaction.getStatus()|lower}}</td>
                <td>
                    <a
                            class="btn btn-secondary"
                            href="/transaction/{{transaction.getId()}}"
                    >
                        View
                    </a>
                </td>
            </tr>
            {% endfor %} {% else %}
            <td class="text-center" colspan="5">No Data Available</td>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% include './partials/new-pagination.html' %}

</div>

<!-- Payment Form -->
{% include './partials/user-payment-form.html' %} {% endblock %}