<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Phase 7 Carissa Homes Subdivision HOA Board Portal" property="og:title">
    <meta content="Your Gateway to Effortless Management and Communication" property="og:description">
    <meta content="https://carrisa-homes.me/carrisa.jpg" property="og:image">
    <meta content="https://carrisa-homes.me/" property="og:url">
    <meta content="website" property="og:type">

    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <link rel="stylesheet" href="/resources/assets/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/assets/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/resources/assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/resources/assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/resources/assets/vendor/apex-charts/apex-charts.css"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/resources/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/resources/assets/js/config.js"></script>


    <script src="/resources/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/resources/assets/vendor/libs/popper/popper.js"></script>
    <script src="/resources/assets/vendor/js/bootstrap.js"></script>
    <script src="/resources/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/resources/assets/vendor/js/menu.js"></script>

</head>
<body>
<!-- Hero Section -->

<
    <div class="container">
        <h1>About Us</h1>

        <!-- About Us Section -->
        <section class="row">
        </section>

        <!-- History Section -->
        <section id="history">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at mollis libero. Sed tincidunt lacus in cursus aliquet. In mattis eget nibh finibus dapibus. Donec ullamcorper aliquet odio ut faucibus. Quisque condimentum, justo id fringilla ornare, magna diam suscipit mauris, id lobortis est orci id eros. Aliquam posuere mauris in sodales venenatis. Quisque a augue nec justo pellentesque efficitur. Etiam elementum dolor porttitor, aliquam dolor id, tincidunt nisl. Quisque id mattis est. Vivamus accumsan suscipit commodo. Quisque non mollis elit.
                Aenean vitae massa non erat varius faucibus id sit amet urna. Vestibulum justo massa, volutpat quis ligula id, cursus vehicula turpis. Donec pellentesque imperdiet luctus. Ut in risus id eros varius tincidunt. Vivamus ut tempor mauris, id mollis nulla. Sed malesuada pretium risus vel mattis. Duis sed dolor vitae odio porta pulvinar. Vestibulum non iaculis nulla, eu dictum arcu. Suspendisse a varius nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur sit amet nunc leo. Proin mollis porta placerat.</p>
        </section>

        <section id="history">
            <h2>History</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at mollis libero. Sed tincidunt lacus in cursus aliquet. In mattis eget nibh finibus dapibus. Donec ullamcorper aliquet odio ut faucibus. Quisque condimentum, justo id fringilla ornare, magna diam suscipit mauris, id lobortis est orci id eros. Aliquam posuere mauris in sodales venenatis. Quisque a augue nec justo pellentesque efficitur. Etiam elementum dolor porttitor, aliquam dolor id, tincidunt nisl. Quisque id mattis est. Vivamus accumsan suscipit commodo. Quisque non mollis elit.
                Aenean vitae massa non erat varius faucibus id sit amet urna. Vestibulum justo massa, volutpat quis ligula id, cursus vehicula turpis. Donec pellentesque imperdiet luctus. Ut in risus id eros varius tincidunt. Vivamus ut tempor mauris, id mollis nulla. Sed malesuada pretium risus vel mattis. Duis sed dolor vitae odio porta pulvinar. Vestibulum non iaculis nulla, eu dictum arcu. Suspendisse a varius nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur sit amet nunc leo. Proin mollis porta placerat.</p>
        </section>


        <!-- Facilities Section -->
        <section id="facilities">
            <h2>Facilities</h2>
            <p>Our facilities include a state-of-the-art office space...</p>
        </section>

        <!-- Org Chart Section -->
        <section id="org-chart">
            <h2>Org Chart</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/400x300" alt="Organization Chart" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <p>Our organization follows a hierarchical structure...</p>
                </div>
            </div>
        </section>
    </div>

<script src="/resources/assets/js/main.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>

