<div class="container-fluid py-2">

    <form action="/admin/home" method="GET" id="searchForm" class="form-inline">
    
      <div class="form-group w-100 mb-2">
        <input placeholder="Search" type="text" name="query" value="{{query}}" class="form-control w-100">
      </div>
      
      <div class="d-flex gap mb-2">

      <div class="form-group mr-2">
        <label for="">From</label>
        <input type="month" name="from" value="{{from}}" class="form-control">
      </div>
      
      <div class="form-group mr-2">
        <label for="">To</label>
        <input type="month" name="to" value="{{to}}" class="form-control">
      </div>
      
      <div class="form-group mr-2">
        <label for="">Status</label>
        <select name="status" class="form-control">
          <option value="ALL" {% if status == 'ALL' %}selected{% endif %}>ALL</option>
          <option value="PENDING" {% if status == 'PENDING' %}selected{% endif %}>PENDING</option>
          <option value="APPROVED" {% if status == 'APPROVED' %}selected{% endif %}>APPROVED</option>
          <option value="REJECTED" {% if status == 'REJECTED' %}selected{% endif %}>REJECTED</option>
        </select>
      </div>
    </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Apply Filter</button>
      </div>
      
    </form>
    </div>