<div class="container-fluid p-2 d-flex flex-wrap " style="gap:10px">

  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#dueModal"
  >
    Add New Due
  </button>

  <a href="/admin/payment-map" class="btn btn-primary">Payment Table</a>

  <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#manualPaymentModal"
  >
    Manual Payment
  </button>
  <button
    type="button"
    class="btn btn-success"
    data-toggle="modal"
    data-target="#exportModal"
  >
    Export Excel
  </button>

  <button
          class="btn btn-warning"
          data-toggle="modal"
          data-target="#accountModal"
  >
    Settings
  </button>
</div>
