<div class="py-2">

    {% set allBg = status == "ALL" ? "btn-secondary" : "" %}
    {% set pendingBg = status == "pending" ? "btn-secondary" : "" %}
    {% set approvedBg = status == "approved" ? "btn-secondary" : "" %}
    {% set rejectedBg = status == "rejected" ? "btn-secondary" : "" %}

    {% set allBg = status is empty ? "btn-secondary" : allBg %}

    <form action="/admin/home" class="form-inline" id="searchForm" method="GET">

        <span class="text-secondary small d-block">Payment Status</span>
        <div aria-label="Basic outlined example" class="btn-group mb-2" role="group">

            <label class="btn border-0 {{allBg}}" for="all">All</label>
            <input autocomplete="off" class="btn-check " id="all" name="status" type="radio" value="ALL">

            <label class="btn border-0 {{approvedBg}}" for="approved">Approved</label>
            <input autocomplete="off" class="btn-check" id="approved" name="status" type="radio" value="approved">

            <label class="btn border-0 {{pendingBg}}" for="pending">Pending</label>
            <input autocomplete="off" class="btn-check" id="pending" name="status" type="radio" value="pending">

            <label class="btn border-0 {{rejectedBg}}" for="rejected">Rejected</label>
            <input autocomplete="off" class="btn-check" id="rejected" name="status" type="radio" value="rejected">

        </div>

        <span class="text-secondary small d-block">Search Bar</span>
        <div class="input-group mb-3">
            <input class="form-control" name="query" placeholder="Transaction Id" type="text" value="{{query}}">
            <button class="btn border-0 text-white btn-secondary btn-outline-primary" data-target="#filterModal"
                    data-toggle="modal" type="button">
                Filter
            </button>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="filterModal"
                 role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Filter Payments</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group mb-1">
                                <label class="form-label">Start Date</label>
                                <input class="form-control" name="from" type="month" value="{{from}}">
                            </div>
                            <div class="form-group mb-1">
                                <label class="form-label">End Date</label>
                                <input class="form-control" name="to" type="month" value="{{to}}">
                            </div>
                            <div class="small text-secondary mb-2">
                                <p>Filter payments to show transactions made between the selected start and end dates.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-primary" type="submit">Apply Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>
</div>

<script>

    const searchForm = document.querySelector("#searchForm");

    // Get the input element by its name attribute
    const statuses = document.querySelectorAll('input[name="status"]');

    statuses.forEach(status => {
        status.addEventListener('change', (event) => searchForm.submit());
    })
</script>