<div class="container-fluid">

    <a aria-controls="collapseExample"
       aria-expanded="false"
       class="small text-secondary text-decoration-none"
       data-toggle="collapse"
       href="#collapseExample"
       role="button">Tool bar
    </a>

    <div aria-label="Toolbar with button groups" class="btn-toolbar mt1" id="collapseExample" role="toolbar"
         style="gap:5px">
        <div aria-label="Basic example" class="btn-group" role="group">
            <button
                    class="btn btn-outline-primary"
                    data-target="#dueModal"
                    data-toggle="modal"
                    type="button"
            >
                Add New Due
            </button>

            <a class="btn btn-outline-primary" href="/admin/payment-map">Payment Table</a>


            <button
                    class="btn btn-outline-primary"
                    data-target="#manualPaymentModal"
                    data-toggle="modal"
                    type="button"
            >
                Manual Payment
            </button>


        </div>
        <div aria-label="Third group" class="btn-group" role="group">

            <button
                    class="btn btn-outline-primary"
                    data-target="#generateReportModal"
                    data-toggle="modal"
                    type="button"
            >
                Generate Report
            </button>

            <button
                    class="btn btn-outline-primary"
                    data-target="#accountModal"
                    data-toggle="modal"
            >
                Settings
            </button>
        </div>
    </div>
</div>
