<div class="modal" id="confirmationModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="confirmationForm">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button
                            aria-label="Close"
                            class="close"
                            data-dismiss="modal"
                            type="button"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="confirmationMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Confirm</button>
                    <button class="btn btn-secondary" data-dismiss="modal" type="button" id="closeBtn">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const confirmationMessage = document.querySelector("#confirmationMessage");
    const confirmationForm = document.querySelector("#confirmationForm");

    const closeBtn = document.getElementById("closeBtn");

    // Define a variable to store the callback function
    let confirmCallback = null;
    let closeCallBack = null;

    // Function to show the confirmation modal
    const confirm = (message, callback, link = false) => {
        // Set the callback function
        confirmCallback = link ? () => window.location.replace(callback) : callback;

        // Change the modal message
        confirmationMessage.innerHTML = message;

        // Show modal
        $("#confirmationModal").modal("show");
    };

    const confirmWithClose = (message, callback, close,link = false) => {

        // Set the callback function
        confirmCallback = link ? () => window.location.replace(callback) : callback;

        closeCallBack = close;

        // Change the modal message
        confirmationMessage.innerHTML = message;

        // Show modal
        $("#confirmationModal").modal("show");
    };


    // Add an event listener for the form submission
    confirmationForm.addEventListener("submit", (event) => {
        // Prevent form from submitting
        event.preventDefault();

        // Close modal
        $("#confirmationModal").modal("hide");

        // Call the stored callback function
        if (confirmCallback) {
            confirmCallback();
        }
    });

    closeBtn.addEventListener('click',(event)=>{

        if(closeCallBack){
            closeCallBack();
        }

    })

</script>
