{% extends "./admin/index.html" %}


{% block body %}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Table -->
    <div class="card">
        <h5 class="card-header">Announcements</h5>

        <div class="px-3 mb-2">
            <span class="small text-secondary text-decoration-none d-block">Tool Bar</span>
            <div aria-label="Basic example" class="btn-group" role="group">
                <a class="btn btn-outline-success" href="/admin/announcement">Create</a>
            </div>
        </div>

        <form action="/admin/announcements" id="announcementForm" method="GET">
            <div class="px-3 mb-2">

                {% set status = status | upper %}

                {% set postedCh = status == "POSTED" ? "checked" : '' %}
                {% set archivedCh = status == 'ARCHIVED' ? "checked" : '' %}

                <div id="statusGroupBtn" class="btn-group" role="group"
                     aria-label="Basic radio toggle button group">

                    <input value="POSTED" type="radio" class="btn-check" name="status" id="POSTED" {{postedCh}}/>
                    <label class="btn btn-outline-primary" for="POSTED">Posted</label>

                    <input value="ARCHIVED" type="radio" class="btn-check" name="status" id="ARCHIVED" {{archivedCh}}/>
                    <label class="btn btn-outline-primary" for="ARCHIVED">Archived</label>

                </div>

            </div>
        </form>

        <div class="table-responsive">
            <table class="table thead-dark table-hover rounded-table table-shadow">
                <thead class="bg-dark text-white">
                <tr>
                    <th>Title</th>
                    <th>Posted By</th>
                    <th>Created At</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for announcement in announcements %}
                <tr>
                    <td>{{announcement.getTitle()}}</td>
                    <td>{{announcement.getUser().getName()}}</td>
                    <td>{{announcement.getCreatedAt()|date("M d, Y")}}</td>
                    <td>{{announcement.getStatus()}}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow show"
                                    data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>

                            <div class="dropdown-menu" data-popper-placement="bottom-end"
                                 data-popper-reference-hidden=""
                                 style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(185px, 143px);">

                                <a class="dropdown-item"
                                   href="/admin/announcement/edit/{{announcement.getId()}}"
                                   style="flex: 1 1 0px;">Edit</a>

                                {% set announcementId = announcement.getId() %}
                                {% set status = announcement.status | lower %}

                                {% set displayStatus = status == 'posted' ? 'Archived' : 'Post' %}

                                {% set postValue = "/admin/announcement/archive/#{announcementId}"%}
                                {% set archiveValue = "/admin/announcement/post/#{announcementId}"%}
                                {% set action = status == "posted" ? postValue : archiveValue%}

                                <a class="dropdown-item" href="{{action}}" style="flex: 1 1 0px;">{{displayStatus}}</a>
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}

                {% if announcements is empty %}
                <tr>
                    <td class=" text-center" colspan="5">No Data Available</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>


        {% include './user/partials/pagination.html' %}


    </div>

</div>


{% include './partials/message-modal.html' %}
{% include './partials/confirmation.html' %}

{% endblock %}

{% block javascript %}

<script>
    const announcementForm = document.querySelector('#announcementForm');

    // Get the input element by its name attribute
    const statuses = document.querySelectorAll('input[name="status"]');

    statuses.forEach(status => {
        status.addEventListener('change', (event) => announcementForm.submit());
    })
</script>

{% endblock %}