{% extends "./admin/index.html" %}

{% block body %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">System Settings</h5>
        <div class="card-body">
            <form method="POST" action="/admin/system">

                <div class="form-group row">
                    <p class="m-0">Email Settings</p>
                    <p class="m-0 text-secondary small">Configure your email settings by specifying the host, email address, and
                        password associated with your email service.</p>
                    <div class="col">
                        <label>Host</label>
                        <input class="form-control" name="mailHost" type="text" value="{{systemSettings.mailHost}}">
                    </div>
                    <div class="col">
                        <label>Email </label>
                        <input class="form-control" name="mailUsername" type="text" value="{{systemSettings.mailUsername}}">
                    </div>
                    <div class="col">
                        <label>Password</label>
                        <input class="form-control" name="mailPassword" type="password">
                    </div>
                </div>

                <hr>

                <div class="form-group">

                    {% set checked = systemSettings.allowSignup ? "checked" : "" %}
                    <p class="m-0">Sign Up Settings</p>
                    <small class="text-secondary">By selecting this option, you authorize the registration of new users.</small>
                    <div class="form-check mb-2">
                        <input class="form-check-input" name="allowSignup" type="checkbox" value="true" id="signup" {{checked}}>
                        <label class="form-check-label" for="signup">
                            Enable User Signup
                        </label>
                    </div>

                    <small class="text-secondary">Define the terms and conditions that users must agree to for
                        registration.</small>
                    <br>
                    <label for="termsAndCondition">Terms And Condition</label>
                    <textarea name="termsAndCondition" class="form-control" id="termsAndCondition" rows="12">{{systemSettings.termsAndCondition}}</textarea>
                </div>
                <button class="btn btn-primary mt-3" type="submit">Save Settings</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
