<div
        class="modal fade"
        id="removeOrgModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="removeOrgModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="removeStaffForm" method="POST" action="/admin/remove-staff">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Remove Staff</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="removeStaffName">Name</label>
                        <input class="form-control" id="removeStaffName" name="name" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mt-2 btn btn-primary">Remove</button>
                    <button type="button" class="mt-2 btn btn-primary" data-bs-dismiss="modal" aria-label="Close" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>